 *{
    margin:0;
    padding:0;
 }

 #container{
    height: 200px; 
    width: 200px; 
    overflow: hidden;
    white-space: nowrap;
 }

 .slider {   
    display:inline-block;
    
    max-width: 500px; 
    overflow: hidden;
    /*  Safari,Chrome*/  
    -webkit-transition-property: all;   
    -webkit-transition-duration: .5s;   
    -webkit-transition-timing-function: cubic-bezier(0,0,0.5,1);   
    /*  Firefox*/  
    -moz-transition-property: all;   
    -moz-transition-duration: .5s;   
    -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);   
    /*  Opera*/  
    -o-transition-property: all;   
    -o-transition-duration: .5s;   
    -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);   
    /*  IE9*/  
    -ms-transition-property: all;   
    -ms-transition-duration: .5s;   
    -ms-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);   
}   

.slider.closed {   
     max-width:0;
}  

.slider img{
    width:200px; /*图片按照固定尺寸显示*/
    height:200px;
    float:left;
}


#slider{
    /*width:100px;*/
}