 #container{
    height: 200px; 
    width: 100%; 
    border: 1px solid #ccc;
 }
 .slider {   
    display:inline-block;
    overflow-x: hidden;   
    max-width: 500px;   
    /* ×î´ó¸ß¶È */  
    background: pink;   
    height: 200px;   
    width: 200px;   
   
    /*  WebkitÄÚºËä¯ÀÀÆ÷£ºSafari and Chrome*/  
    -webkit-transition-property: all;   
    -webkit-transition-duration: .5s;   
    -webkit-transition-timing-function: cubic-bezier(0,0,1,1);   
    /*  MozillaÄÚºËä¯ÀÀÆ÷£ºfirefox3.5+*/  
    -moz-transition-property: all;   
    -moz-transition-duration: .5s;   
    -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);   
    /*  Opera*/  
    -o-transition-property: all;   
    -o-transition-duration: .5s;   
    -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);   
    /*  IE9*/  
    -ms-transition-property: all;   
    -ms-transition-duration: .5s;   
    -ms-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);   
}   
.slider.closed {   
     max-width:0;
}  